@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 100%;
  align-items: stretch;
  justify-items: stretch;
  justify-content: center;
}

.wheel-container {
  position: relative;
  margin: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

div {
  position: absolute;
  margin: 10px;
}
